.editorContainer {
  height: 100%;
  width: 100%;
  overflow: hidden;
  background-color: var(--editor-bg);
}

.editor {
  height: 100%;
  width: 100%;
  overflow: auto;
}

.editor :global(.cm-editor) {
  height: 100%;
}

.editor :global(.cm-scroller) {
  overflow: auto;
  font-family: Consolas, Monaco, 'Courier New', monospace;
  font-size: 14px;
  line-height: 1.5;
}